div.powercord-crypto {
  position: relative;
  height: 52px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  > img {
    flex: 0 0 auto;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    margin-right: 8px;
  }

  > div.info {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    > span:first-child {
      font-size: 18px;
      color: var(--header-primary);
    }
  }

  > div.actions {
    display: flex;
    flex-direction: row;
  }

  div.crypto-price {
    &.up {
      color: rgb(123, 238, 91);
    }
    &.down {
      color: rgb(249, 103, 45);
    }
  }
}

div.pc-crypto-popout {
  position: absolute;
  bottom: 100%;
  z-index: 100;

  svg.pc-crypto-menu-icon {
    border-radius: 50%;
    overflow: hidden;
  }
}